// You can namespace this particular work's container by using the
// template_file_name set for the Work, which should
// also be the name of this file. Example: if the work's
// template_file_name is 'live_blue' the container would be
//   .work#live_blue

// #live_blue {
//   background: blue;
// }

// Remote Imports
@import "compass/css3";
@import "compass/css3/transform";

@import "../01-settings/**/*";
@import "../02-extends/**/*";
@import "../03-base/**/*";

#work-fsp {
  
}

.thing {
  padding-top: 50%;
  width: 100%;
  margin: 0 auto;
  background: url(http://images.apple.com/iphone/home/images/business.jpg) center bottom no-repeat;
  background-size: contain;
}