// Remote Imports
@import "../imports";

@include keyframes(scroll) {
  0%,  20% { @include transform( translateY(0) ) }
  30%, 60% { @include transform( translateY(-50%) ) }
  80%, 100%{ @include transform( translateY(0) ) }
}

#work-kc_rev_pitch {

  &.animate {
    .browser-body-content-img {
      @include animation( scroll 2s alternate cubic-bezier(.54,.02,.5,1.2) );
    }
  }

  .browser {}
  .browser-header {}
  .browser-body {}
  .browser-body-content {}
  .browser-body-content-img {
    width: 100%;
    height: 200%;
    background: image-url("work/kc_rev_pitch/kc_rev_pitch.jpg") no-repeat;
    background-size: 100% auto;
    -webkit-backface-visibility: hidden;
  }

}