// Remote Imports
@import "../imports";

@include keyframes(scroll) {
  0%,  2% { @include transform( translateY(0) ) }
  30%, 60% { @include transform( translateY(-50%) ) }
  80%, 100%{ @include transform( translateY(0) ) }
}

#work-big_kansas_city {

  &.animate {
    .browser-body-content-img {
      @include animation( scroll 20s alternate cubic-bezier(.54,.02,.5,1.2) );
    }
  }

  .browser {}
  .browser-header {}
  .browser-body {}
  .browser-body-content {}
  .browser-body-content-img {
    width: 100%;
    height: 1500%;
    background: image-url("work/big_kansas_city/big_kansas_city.jpg") no-repeat;
    background-size: 100% auto;
    -webkit-backface-visibility: hidden;
  }

}