.grid {
  display: table;
  table-layout: fixed;
  width: 100%;

  &.auto   { table-layout: auto }; // Switch table back to natural layout.

  &.spaced { 
    border-spacing: 3em;
    > * + * { margin-top: 3em } // Applies a matching top margin between elements when display:block.
  };

  &.rtl {
    direction: rtl;
    > * { direction: ltr }
  }

  > * { 
    display: table-cell;
    @media (max-width: 640px ) {
      display: block;
      width: 100% !important;
    }
  }

}