.layout-grid {
  font-size: 0;
  width: 101%;
  @media (max-width: $small) {
    width: 100%;
  }
  > * {
    display: inline-block;
    font-size: 1rem;
  }

  &.sub-three > * {
    @media (max-width: $small) { 
      width: 100%;
      padding-top: 50%;
    }
    padding: 20% 25%;
    @media (min-width: $large){ padding: 14% 16.666666667% }
  }
  &.sub-four > * {
    @media (max-width: $small) { 
      width: 50%;
      padding-top: 50%;
    }
    width: 25%;
    padding-top: 25%;
    @media (min-width: $large){ 
      width: 12.5%;
      padding-top: 12.5%;
    }
  }
  &.sub-five > * {
    @media (max-width: $small) { 
      width: 50%;
      padding-top: 50%;
    }
    width: 20%;
    padding-top: 20%;
  }
  &.sub-approach {
    border-top: 1px solid $gray-light;
  }
}