.layout-wrap-content {
  border-top: 1px solid $gray-light;
  &:nth-child(even), &.sub-light {
    background-color: whitesmoke;
  }
  &.sub-light {
    border-top: 0;
  }
  &.sub-dark {
    background-color: $black-light;
  }
}

.layout-content {
  @extend %padding;
  max-width: $medium;
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;

  &.sub-narrow {
    max-width: $small;
  }

  &.sub-wide {
    max-width: $large;
  }

  &.sub-center {
    text-align: center;
  }

  &.sub-flushtop {
    padding-top: 0;
  }

  a {
    color: $link-color;
    text-decoration: none;
  }
  
  &.-whitesmoke {
    background-color: whitesmoke;
  }
}

.layout-pad {
  padding-top: 4em
}

.layout-content-section {
  @extend %verticalSpacing.double
}