.layout-header {

  &:before {
    content: '';
    display: block;
    height: 3em;
//    position: absolute;
//    top: 1em;
//    left: 50%;
//    margin: 0 0 0 -2.5em;
    background: image-url('cremalab_logo.svg') center center no-repeat;
    background-size: auto 100%;

    @media screen and (min-width: 30em) {
      height: 4em;
    }
    @media screen and (min-width: 50em) {
      height: 5em;
    }
  }

  @media screen and (min-width: 70em) {
    .layout-content {
      padding-top: 2em;
    }
  }

  // Positioning
  position: relative;
  z-index: 2;

  // Dimensions
  padding: 5% 0;

  // Typography
  text-align: center;
  color: $white;
  a { 
    color: $white; 
    text-decoration: underline;
  }

  // Global Background Styles
  background-size: auto, auto, cover;
  background-position: center;

  // Sub Classes
  &.sub-blog {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      image-url("headers/bg-blog.jpg")
  }
  &.sub-contact {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      image-url("headers/bg-contact.jpg")
  }
  &.sub-process {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      image-url("headers/bg-approach.jpg")
  }
  &.sub-team {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      image-url("headers/bg-team.jpg")
  }
  &.sub-work {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      image-url("headers/bg-work.jpg")
  }
  &.sub-careers {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      image-url("headers/bg-careers.jpg")
  }

}