.layout-wrap-content {
  border-top: 1px solid $gray-light;
  &:nth-child(even) {
    background-color: whitesmoke;
  }
}

.layout-content {
  @extend %padding;
  max-width: $medium;
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;

  &.sub-narrow {
    max-width: $small;
  }

  &.sub-wide {
    max-width: $large;
  }

  &.sub-center {
    text-align: center;
  }

  a {
    color: $link-color;
    text-decoration: none;
  }
  
}

.layout-content-section {
  @extend %verticalSpacing.double
}