.layout-main-wrapper {
  @extend %transition;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: white;
  z-index: 1;
  overflow: hidden;

  // STATE - Navigation Revealed
  &.open { @include transform(translate3d(-260px,0,0)) }
  
}

.layout-main {
  position: relative;
}

.layout-main-content {
  width: 100%;
  min-height: 100%;
}