.layout-header {

  // Dimensions
  padding: 5% 0;

  // Typography
  text-align: center;
  color: $white;
  a { 
    color: $white; 
    text-decoration: underline;
  }

  // Global Background Styles
  background-size: auto, auto, cover;
  background-position: center;

  // Sub Classes
  &.sub-blog {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      image-url("kelly-desk.jpg")
  }
  &.sub-contact {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      image-url("kelly-desk.jpg")
  }
  &.sub-process {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      image-url("headers/bg-approach.jpg")
  }
  &.sub-team {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      image-url("team.jpg")
  }
  &.sub-work {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      image-url("headers/bg-work.jpg")
  }

}