- title "Innovation Lab - April 6/10 2015"

- content_for :content_head do
  = stylesheet_link_tag "innovation", media: "all"

.innovation-poster
  .innovation-poster--image
    = render :partial => "poster"

.layout-wrap-content.sub-light
  .layout-content.sub-wide
    .layout-box-content
      .sub-centered
        %h2 APRIL 6/10 2015
        %p a week of creativity that would make NASA jealous

