.layout-wrap-content
  .layout-content
    - present blog do |blog_presenter|
      .post
        .post-body
          %h2.post-body-title= blog_presenter.title_link
          = render :partial => "post_info", locals: {blog_presenter: blog_presenter, list: true}
          .post-excerpt= blog_presenter.excerpt
          .post-action= link_to "Keep Reading", blog_presenter.path, :class => "button"
