- title "Approach"
%header.layout-header.sub-process
  .layout-content
    %h3 Let us help launch your next product.
    %p Cremalab is a dynamic team of product designers, developers, and business strategists specializing in building digital products for startups and evolving brands.
    %p Whether you’re an entrepreneur with a new idea or a company innovating for the future, we’re the perfect partner to turn your idea into a great product experience. 

.layout-wrap-content.sub-light
  .layout-content.sub-wide
    .layout-box-content
      .sub-centered
        = image_tag("approach/talk_think_listen.svg")
        %h4 Talk, Think & Most Importantly – Listen. 
        %p We take time to understand the vision and nuances of your business. Our goal is to listen to you and your customers to gain a shared understanding of the strategic direction for product development. Our Discovery period provides us with everything needed to begin design and development. 


.layout-content.sub-wide
  .layout-box-content
    .sub-centered
      = image_tag("approach/turning_stones.svg")
      %h4 Turning Over Every Stone.
      %p We get obsessed with understanding how and why a product is being built. We start by prototyping and wireframing at the beginning stages of product development in order to test and validate assumptions early on. Our iterative approach to development ensures we make data-driven decisions and together build a product that your users will love. 

.layout-wrap-content.sub-light
  .layout-content.sub-wide
    .layout-box-content
      .sub-centered
        = image_tag("approach/get_to_work.svg")
        %h4 Roll Up Our Sleeves & Get To Work. 
        %p Our development team has serious technical chops. But what’s most important is that our technical team gets involved during the earliest stages of product development to advise on core features of the new product. 
        %p Our team understands the context of every technical decision made over the course of Discovery before we start building. With regular team meetings and a collaborative development process, our team will craft and deliver an incredible product you can be proud of. 
      
.layout-content.sub-wide.sub-flushtop
  .layout-box-content
    .sub-centered
      = image_tag("approach/golden_layer.svg")
      %h4 Arrive At The Golden Layer Together. 
      %p At this point, we’ve reached the golden layer of product development. The ‘crema’, if you will. The good stuff.
      %p Together, we’ve expertly crafted a product that your users will love, and now we’re ready to take your product to market. We work side-by-side to launch, monitor, and iterate on your original product to find product-market fit and scale. We view our success as an extension of yours - we’re partners after all!
      
.layout-wrap-content.sub-light
  .layout-content.sub-wide
    .sub-centered
      %h4 The Right Tools For The Right Job.
      %p Our skills are what we specifically use to bring your idea to life. <br /> Below is a list, but not a complete one. We constantly learn new things everyday.

    .layout-pad
      .layout-grid.sub-four-max
        %div
          %h5.sub-uppercase Discovery
          %p Over the course of several weeks, our teams collaborate to shape the strategic direction for product development and to develop a plan for seamless execution. You’ll have more sticky notes, whiteboards, and caffeine than you can handle and you’ll start to see your idea come to life. 

        %div
          %h5.sub-uppercase Visual Design
          %p The way a product looks is just as important as how it works. Our team skillfully blends product functionality with incredible design. In short, we won’t ship anything you wouldn’t be proud to show the world.

        %div
          %h5.sub-uppercase Responsive Web Design
          %p Once a mythological beast, Cremalab bakes this right into every design and development consideration. The answer is always, "Yes, it’s responsive."

        %div
          %h5.sub-uppercase Information Architecture
          %p Content is king. We make sure that your content is organized and displayed in a way that feels natural to the user and also tells the story of your product. 

        %div
          %h5.sub-uppercase User Research
          %p Our team dedicates time to learning your specific business and industry. Every projects starts with research. We even take time to talk to your current users or early adopters to make sure we’re building the right product your users will enjoy and pay for. 

        %div
          %h5.sub-uppercase Usability Testing
          %p Before, during, and afterwards. Testing ensures we’re on track to a great product experience. We bake user testing into our entire digital process.

        %div
          %h5.sub-uppercase Web App Development
          %p With the web being the wild west, we’ve tried, tested, and validated the right technology for the right project. Our developers will keep you and your product current with today’s standards.

        %div
          %h5.sub-uppercase Front-End Development
          %p Today’s products aren’t complete without elegant and easy to use web applications. We use trusted technologies that will delight your users.

        %div
          %h5.sub-uppercase Hosting Environments
          %p Rock-solid infrastructure. Your product’s home is extremely important to us. We only work with the best hosting platforms to ensure your product is properly backed up, reliable and safe.

        %div
          %h5.sub-uppercase Business Model Validation
          %p We work with every client to create a <a href="http://leanstack.com/">Lean Model Canvas</a> to ensure we have a shared understanding of product-market fit.

        // http://leanstack.com/

        %div
          %h5.sub-uppercase Market Research
          %p Will your product be well received? Are we targeting the right demographic? We will do the research to ensure your product is right for the market.

        %div
          %h5.sub-uppercase Branding
          %p Your brand is more then just your logo and color palette. We’ll work with you to create your voice and messaging to make sure you’re speaking to your users consistently.




%a.layout-footer{:href => "/work"}
  %span.text See the work we do
  %span.text.icon-arrow-right
  .sub-bg.sub-work
