- title "Approach"
%header.layout-header.sub-process
  .layout-content
    %h1 Create. Iterate. Learn.
.grid.break.medium
  .layout-box
    .layout-box-content
      %h1 Our Approach.
      %p We are UX agency growing and learning along with our clients
      %p We believe in solving real problems and validating assumptions.
      %p Our approach to building digital products is lean and iterative.  This means that we are constantly learning in order to create the right experience.
  .layout-box
    .layout-box-content
      %h2 We love
      .text_rotator
        .text_rotator-tray
          .text_rotator-text growth oriented companies.
          .text_rotator-text innovative brands.
          .text_rotator-text funded entrepreneurs.
          .text_rotator-text trusted relationships.
          .text_rotator-text impactful ideas.
      %h2 Who want to
      .text_rotator
        .text_rotator-tray
          .text_rotator-text solve real problems.
          .text_rotator-text validate their ideas.
          .text_rotator-text build great experiences.
          .text_rotator-text work collaboratively.
          .text_rotator-text create change.
          .text_rotator-text achieve success.

.layout-grid.sub-three.sub-approach
  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-yellow
          .gridBlock-content-icon
            .icon-light-bulb
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h3 Strategy
                %ul.sub-plain.large
                  %li Planning
                  %li Ideation
  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-orange
          .gridBlock-content-icon
            .icon-brush
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h3 Creative
                %ul.sub-plain.large
                  %li User Experience Design
                  %li User Interface Design
                  %li Brand
  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-red
          .gridBlock-content-icon
            .icon-code
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h3 Development
                %ul.sub-plain.large
                  %li Ruby on Rails
                  %li JavaScript
                  %li UI Dev
                  %li iOS