.grid {

  &.centered {
    max-width: 60em;
  }

  &.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media (max-width: $small) {
      position: relative;
    }
  }

  > * {

    vertical-align: top;

    &.one-third    { width: 33.3333% }
    &.two-third    { width: 66.6666% }
    &.fourth       { width: 25% }
    &.half         { width: 50% }
    &.three-fourth { width: 75% }
    &.one-fifth    { width: 20% }
    &.two-fifth    { width: 40% }
    &.three-fifth  { width: 60% }
    &.four-fifth   { width: 80% }
    @media (max-width: $small) {
      width: auto !important;
    }
  }

}