- present work do |work_presenter|
  .work{id: work.title.parameterize.underscore}
    .work-content
      %h2= work_presenter.title
      = work_presenter.description
      .links
        = render work.links
    .work-showcase{:'data-id' => work.id}
      = work_presenter.showcase