@import "ace-github";
@import "highlight-github";

#ace_container {
  position: relative;
  width: 500px;
  height: 300px;

  #editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
textarea.editor-content {
  display: none;
}