.button, button, a.button {
  @extend %transition.sub-slow;

  // Base
  -webkit-appearance: none !important;
  display: inline-block;
  background: none;
  border: none;

  // Dimentions
  padding: unit(0.5) unit(1) unit(0.35);
  margin: 0;

  // Typography
  font-family: "AvenirLTCom-Black";
  font-weight: normal !important;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  color: inherit !important;
  white-space: nowrap;

  // Skin
  border: 0.1em solid;
  cursor: pointer;

  &:hover, &:active {
    border-radius: 200px
  }

}