.button, button, a.button {
  -webkit-appearance: none !important;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-family: "AvenirLTCom-Black";
  font-weight: normal !important;
  display: inline-block;

  color: $link-color-secondary !important;
  border: 2px solid;
  padding: unit(0.5) unit(1) unit(0.35);
  text-transform: uppercase;

}