.contactBlock {
  position: relative;
}
  .contactBlock-size {
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: $gray-light;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
    .contactBlock-size-wrap {
      display: table;
      width: 100%;
      height: 100%;
    }
      .contactBlock-size-wrap-content {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }