.gridBlock {
  position: relative;
  &.sub-approach {
    .gridBlock-content-icon {
      font-size: unit(5);
    }
    &:hover {
      .gridBlock-content-icon {
        opacity: 0;
      }
      .gridBlock-content-list {
        opacity: 1;
        @include transform(scale(1.1));
      }
    }
  }
}
  .gridBlock-size {
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: $gray-light;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
    .gridBlock-size-wrap {
      display: table;
      width: 100%;
      height: 100%;
    }
      .gridBlock-size-wrap-content {
        @extend %transition.sub-fast;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: $gray-light;
        &:hover {
          @include transform(scale(1.1));
          position: relative;
          z-index: 1;
          color: $white;
        }
        &.sub-red:hover    { background: transparentize($red, 0.2) }
        &.sub-orange:hover { background: transparentize($orange, 0.2) }
        &.sub-yellow:hover { background: transparentize($yellow, 0.2) }
        &.sub-green:hover  { background: transparentize($green, 0.2) }
        &.sub-blue:hover   { background: transparentize($blue, 0.2) }
        &.sub-indigo:hover { background: transparentize($indigo, 0.2) }
        &.sub-violet:hover { background: transparentize($violet, 0.2) }
        &.sub-brown:hover  { background: transparentize($brown, 0.2) }
      }
        .gridBlock-content-icon {
          @extend %transition.sub-fast;
          font-size: unit(3);
        }

        .gridBlock-content-list {
          @extend %transition.sub-fast;
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          top:0;
          left: 0;
          bottom: 0;
          .service_list {
            @extend .grid;
            position: absolute;
            height: 100%;
            width: 100%;
          }
          .service_list-content {
            vertical-align: middle;
            -webkit-user-select: none;
          }
        }