[class^="icon-"], [class*=" icon-"] {
  font-family: 'cremalab-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icon Characters
.icon-list:before {
  content: "\e600";
}
.icon-mail:before {
  content: "\e601";
}
.icon-mobile:before {
  content: "\e602";
}
.icon-location:before {
  content: "\e603";
}
.icon-facebook:before {
  content: "\e604";
}
.icon-twitter:before {
  content: "\e608";
}
.icon-twitter2:before {
  content: "\e605";
}
.icon-linked_in:before {
  content: "\e60c";
}
.icon-linked_in2:before {
  content: "\e606";
}
.icon-instagram:before {
  content: "\e607";
}
.icon-facebook2:before {
  content: "\e609";
}
.icon-github:before {
  content: "\e60a";
}
.icon-github2:before {
  content: "\e60b";
}
.icon-dribbble:before {
  content: "\e60d";
}
.icon-googleplus:before {
  content: "\e60e";
}
.icon-googleplus2:before {
  content: "\e60f";
}
.icon-pinterest:before {
  content: "\e610";
}
.icon-pinterest2:before {
  content: "\e611";
}
.icon-tumblr:before {
  content: "\e612";
}
.icon-tumblr2:before {
  content: "\e613";
}
.icon-dribbble2:before {
  content: "\e614";
}
.icon-rdio:before {
  content: "\e616";
}
.icon-rdio2:before {
  content: "\e615";
}
.icon-spotify:before {
  content: "\e617";
}
.icon-spotify2:before {
  content: "\e618";
}
.icon-skype:before {
  content: "\e619";
}
.icon-skype2:before {
  content: "\e61a";
}
.icon-vimeo:before {
  content: "\e61b";
}
.icon-vimeo2:before {
  content: "\e61c";
}
.icon-clock:before {
  content: "\e61d";
}
.icon-list2:before {
  content: "\e61e";
}
.icon-megaphone:before {
  content: "\e61f";
}
.icon-cog:before {
  content: "\e620";
}
.icon-tools:before {
  content: "\e621";
}
.icon-pencil:before {
  content: "\e622";
}
.icon-paperclip:before {
  content: "\e623";
}
.icon-logout:before {
  content: "\e624";
}
.icon-login:before {
  content: "\e625";
}
.icon-plus:before {
  content: "\e626";
}
.icon-cross:before {
  content: "\e627";
}
.icon-trash:before {
  content: "\e628";
}
.icon-website:before {
  content: "\e629";
}
.icon-code:before {
  content: "\e62a";
}