.pagination {
  @extend .grid;
  text-transform: uppercase;
  
  &.sub-post {
    position: absolute;
    border-top: 1px solid $gray-light;
    bottom: 0;
    height: unit(3);
  }

}

.pagination-column {
  vertical-align: middle;
  padding: 1.5em 1.5em 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (max-width: $small) {
    font-size: 0.87em
  }
  + .pagination-column {
    text-align: right;
    border-left: 1px solid $gray-light;
  }
  &.sub-empty {
    border: none;
    width: 0%;
    + .pagination-column {
      border: none;
    }
  }

  .title {
    @media (max-width: $small) {
      display: none;
    }
  }

}