.picture {
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:after {
    content: '';
    display: block;
    padding-top: 40%;
  }
  img {
    display: none;
  }

  &.sub-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &.sub-contain {
    background-size: contain;
  }
  
  &.sub-square {
    &:after {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }


}