// POST INFO
.post-info {
  @extend %verticalSpacing;
  display: inline-table;
  > * {
    display: table-cell;
    vertical-align: middle;
  }
}
  .post-info-avatar {
    width: unit(2);
    @media (max-width: $small) {
      width: unit(1.5);
    }
    img {
      display: block;
      border-radius: 500px;
    }
  }
  .post-info-content {
    padding-left: unit(1);
    line-height: 1.2;
    text-align: left;
    @media (max-width: $small) {
      padding-left: unit(0.5);
    }
    > * {
      @extend %verticalSpacing.quarter
    }
  }

    .post-publish_info {
      padding-top: 0.3em;
    }

.post-excerpt {
  @extend %verticalSpacing;

  > *:last-child:after {
    content: "..."
  }
}

.post-action {
  @extend %verticalSpacing;

  .button {
    @media (max-width: $small) {
      width: 100%;
    }
  }
}