.sub-main {
  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 3;
}
.site_nav {
  overflow: auto;
  font-family: "AvenirLTCom-Light";
  text-transform: uppercase;
  a {
    display: block;
    line-height: 2;
    color: $link-color-secondary;
  }
}

.site_nav-list {
  padding: unit();
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  + .site_nav-list {
    border-top: 1px solid $black-light;
  }

  &.sub-social {
    font-size: 0.875em;
  }

}

a.site_nav-list-logo {
  background: image-url("cremalab_logo-horizontal.svg") no-repeat;
  background-size: contain;
  color: transparent;
  margin-bottom: 0.75em;
  width: 7em;
  height: 2em;
  overflow: hidden;
  background-size: cover;
  display: inline-block;
  margin: 0;
  position: relative;
  top: -.2em;
  .home.index & {
    display: none;
  }
}
.site_nav-list-logo-placeholder {
  height: 2.2em;
}