.teamMember {
  @extend %transition;
  position: relative;
  z-index: 0;
  color: $white;
  overflow: hidden;
  @media (max-width: $small) { padding: 0 }

  @media (min-width: $small) {
    &:hover, &:active {
      @include transform( scale(1.2) );
      z-index: 1;
      .teamMember-size-info {
        opacity: 1;
      }
      .teamMember-size-info-content-links {
        -webkit-backface-visibility: none;
        margin-top: unit();
      }
    }
  }

  $color-list: $red, $orange, $yellow, $green, $blue, $indigo, $violet, $brown;
  @for $i from 1 through length($color-list) {
    $color: nth($color-list, $i);
    &:nth-child(#{length($color-list)}n - #{length($color-list) - $i}) { 
      &:hover, &:active {
        .teamMember-size-info {
          background: rgba($color, 0.8) 
        }
      }
      @media (max-width: $small) {
        .teamMember-size-info {
          background: rgba($color, 0.8) 
        }
      }
    }
  }

}

.teamMember-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.teamMember-size-info {
  @extend %transition;
  opacity: 0;
  display: table;
  table-layout: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(black, 0);
  @media (max-width: $small) { 
    opacity: 1;
  }
}

.teamMember-size-info-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  > * {
    @extend %verticalSpacing;
  }
}

.teamMember-size-info-content-links {
  @extend %transition;
  margin-top: - unit(2);
  @media (max-width: $small) { 
    margin-top: unit();
  }
}