.videoBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #333;

  @media (max-width: $small) {
    background-image:  url("/video/cremalab.gif");
    background-position: center;
    background-size: cover;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC);
    z-index: 1;
  }

  video {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    background: none;
    @include transform( translateX(-50%) translatey(-50%) );
    -webkit-transform-style: preserve-3d;
    @media (max-width: $small) {
      display: none
    }
  }

}