- title "Careers"
- content_for :admin_actions do
  = link_to 'Edit Careers', admin_careers_path, class: 'button'
%header.layout-header.sub-careers
  .layout-content
    %h1 Our small team is growing fast.
    .h4= link_to "View openings", "#openings", class: 'button'
.layout-content.sub-wide
  %h2 Together, we create experiences that people love.
  %p We’re a small team, growing quickly. We love collaborating on full-stack products that solve real problems for real people. We work together, laugh together, drink together,  and cry together. Okay, we don’t really cry together but you get the gist. We take our culture seriously, but ourselves? Well, not so much. Here’s the deal though: We’re building a user-experience design agency focused on crafting experiences that delight people and better their lives.

.layout-wrap-content.sub-dark
  .layout-content.sub-wide
    .grid-wrapper
      .grid.spaced.break.medium
        .layout-grid-column
          %h3 In the heart of Kansas City
          %p We’re located downtown in the Crossroads District of Kansas City, Missouri; footsteps away from some of the city’s best coffee shops, restaurants, events, bars, and culture. 

        .layout-grid-column
          %h3 A ROWE Environment
          %p We leverage our team’s own creative instincts to empower them to work when and where they need to in order to deliver the highest results, on time. 

        .layout-grid-column
          %h3 We learn together
          %p We are a team that is constantly learning about our clients, our products, and ourselves. Growing as professionals and as people is core to who we are, and provides the perfect environment to exercise our minds, learn new skills, and create amazing experiences, together.

.layout-grid.sub-five
  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-yellow
          .gridBlock-content-icon
            .icon-moneybag
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h5 Competitive Salary

  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-orange
          .gridBlock-content-icon
            .icon-health
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h5 Health Coverage

  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-red
          .gridBlock-content-icon
            .icon-coffee
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h5 Ever-flowing Coffee

  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-red
          .gridBlock-content-icon
            .icon-mobile
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h5 Top-Notch Gear

  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-red
          .gridBlock-content-icon
            .icon-pig
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h5 Retirement Benefits

  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-red
          .gridBlock-content-icon
            .icon-graduate
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h5 Ongoing Learning

  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-red
          .gridBlock-content-icon
            .icon-mug
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h5 Team Happy Hours

  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-red
          .gridBlock-content-icon
            .icon-plane
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h5 Unlimited Vacation

  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-red
          .gridBlock-content-icon
            .icon-cake
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h5 Homemade sweets on your Birthday

  .gridBlock.sub-approach
    .gridBlock-size
      .gridBlock-size-wrap
        .gridBlock-size-wrap-content.sub-red
          .gridBlock-content-icon
            .icon-gamepad
          .gridBlock-content-list
            .service_list
              .service_list-content
                %h5 Casual Environment

.layout-wrap-content
  .layout-content
    %h2.sub-centered We’re growing,<br> so come on-board!
    %p We’re passionate about what we do, where we do it, and who we do it with. So take a look at our current openings, and see if one fits with you! If you don’t see what you're looking for, drop us a line anyway! We love meeting new people and building relationships, especially over coffee.
    %a{name: "openings"}
= render @careers

