- title "Careers"
- content_for :admin_actions do
  = link_to 'Edit Careers', admin_works_path, class: 'button'
%header.layout-header.sub-work
  .layout-content
    %h1 Our Careers.
= render @careers

