- title "Team"
%header.layout-header.sub-team
  .layout-content
    %h1 The faces behind the beaker.
.layout-grid.sub-three
  = render @users

%a.layout-footer{:href => "/contact"}
  %span.text Ready to get started? Let's chat.
  %span.text.icon-arrow-right
  .sub-bg.sub-contact