.layout-content.sub-narrow.sub-center
  %h1 You did it!
  %p Now, wasn't that easy? We'll be in touch (if you're lucky).
  .h4= link_to "Back to Careers", :careers, class: "button sub-outline sub-full_width"