- content_for :video do
  = video_tag("Cremalab")

.grid.spaced.cover
  .siteIntro
    %h1 We believe in building the right thing.
    %p We’re a small team of creatives who turn big ideas into beautiful and useable digital experiences.