- content_for :video do
  .videoBackground
    = video_tag("cremalab")

/ START LAYOUT
.layout-scroll
  .layout-scroll-a
    .layout-scroll-b
      .layout-scroll-c
        / END LAYOUT

        .layout-content
          / CONTENT
          .siteIntro
            = image_tag "cremalab_logo.svg", class: "logo landing"
            %h1 We create user-centered applications for innovative companies and brands.

            / START LAYOUT
            .layout-buttons-wrapper
              .layout-buttons
                = link_to "Our Approach", approach_path, class: "button sub-outline"
                = link_to "Our Work", works_path, class: "button sub-outline"