@font-face {
  font-family: 'test';
  src:url('test.eot');
  src:url('test.eot?#iefix') format('embedded-opentype'),
    url('test.woff') format('woff'),
    url('test.ttf') format('truetype'),
    url('test.svg#test') format('svg');
  font-weight: normal;
  font-style: normal;
}