%article.work{:'data-index' => "#{work.order_index}", :'data-id' => "#{work.id}"}
  .drag-handle
  %header
    - present work do |work_presenter|
      %h4= work_presenter.title_link
      %small= work_presenter.state