.backgroundWrapper {
  background-size: auto, cover;
  background-position: center, center;
  &.process {
    background-image: 
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      url("kelly-desk.jpg");
  }
  &.team {
    background-image: 
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      url("team.jpg");
  }
}