%header.layout-header.sub-process
  %h1 Behind the beaker
.grid.break
  .layout-box.right.three-fifth
    .layout-box-content
      %h2 Never Stop Learning
      %p We Learn business ideas, learn market needs, learn new technologies, learn efficiencies, learn how to serve, learn ways to innovate, learn trends, learn what works and what doesn’t, learn to say no, learn to take risk, learn how to tell stories. All in an effort to be the best digital product development company in the world.
      %p “Learning is like rowing upstream: not to advance is to drop back.” - Chinese Proverb. Enough said.
  = picture_tag("rob-ross.jpg")
.grid.break
  %div{style: "background: gray; min-height: 200px"}
  .layout-box.two-fifth
    .layout-box-content
      %h2 A small team
      %p Bacon ipsum dolor sit amet beef ribs flank jowl, turkey chicken drumstick turducken ball tip ham hock boudin. Pork chop tongue beef ribs frankfurter chuck brisket ham hock, fatback shank bacon andouille.
      
      %h2 Collaboration is key
      %p Doner boudin flank salami short loin. Pastrami tail pork loin, ham flank pork chop ground round. Shoulder shank tri-tip, leberkas pork loin andouille biltong swine ground round kielbasa t-bone pancetta ham. Ground round shank biltong, pork belly venison tail shankle turducken pork chop filet mignon rump.Meatloaf frankfurter strip steak beef andouille. Ground round tail brisket doner, ball tip pork ham leberkas. Rump short loin turkey doner flank ball tip.
.grid.break
  .layout-box.right
    .layout-box-content
      %h2 A small team
      %p Bacon ipsum dolor sit amet beef ribs flank jowl, turkey chicken drumstick turducken ball tip ham hock boudin. Pork chop tongue beef ribs frankfurter chuck brisket ham hock, fatback shank bacon andouille.
      
      %h2 Collaboration is key
      %p Doner boudin flank salami short loin. Pastrami tail pork loin, ham flank pork chop ground round. Shoulder shank tri-tip, leberkas pork loin andouille biltong swine ground round kielbasa t-bone pancetta ham. Ground round shank biltong, pork belly venison tail shankle turducken pork chop filet mignon rump.Meatloaf frankfurter strip steak beef andouille. Ground round tail brisket doner, ball tip pork ham leberkas. Rump short loin turkey doner flank ball tip.
  %div{style: "background: gray; min-height: 200px"}