- title "Process"
%header.layout-header.sub-process
  .layout-content
    %h1 Behind the Beaker
.grid.break.medium
  .layout-box.right.three-fifth
    .layout-box-content
      %h2 We solve problems.
  = picture_tag("process-solve_problems.jpg")
.grid.break.medium
  = picture_tag("rob-ross.jpg")
  .layout-box.two-fifth
    .layout-box-content
      %h2 We value shared understanding.
.grid.break.medium
  .layout-box.right
    .layout-box-content
      %h2 We believe in lean.
  %div{style: "background: gray; min-height: 200px"}
.grid.break.medium
  .layout-box.right
    .layout-box-content
      %h2 We believe in fostering a culture that empowers our team.
  %div{style: "background: gray; min-height: 200px"}
.grid.break.medium
  %div{style: "background: gray; min-height: 200px"}
  .layout-box
    .layout-box-content
      %h2 We test everything to validate our assumptions.