blockquote {
  background: #f9f9f9;
  border-left: .3em solid #ccc;
  margin: unit(1) 0;
  padding: unit(1);
  font-style: italic;
  color: lighten($black, 20%);
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}