body {

  // Typography
  font: 100%/1.5 "AvenirLTCom-Light";
  -webkit-font-smoothing: antialiased;
  color: $black;

  // Layout
  position: absolute;
  width: 100%;
  min-height: 100%;
  @media (max-width: $small) {
    height: 100%;
    min-height: 640px; // Makes scrolling nice and smooth on iphone.
  }
  margin: 0;

  // Skin
  background: white;
  
}
