[class^="icon-"], [class*=" icon-"] {
  font-family: 'cremalab-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icon Characters
.icon-list:before {
  content: "\e600";
}
.icon-mail:before {
  content: "\e601";
}
.icon-mobile:before {
  content: "\e602";
}
.icon-location:before {
  content: "\e603";
}
.icon-facebook:before {
  content: "\e604";
}
.icon-twitter:before {
  content: "\e605";
}
.icon-linked_in:before {
  content: "\e606";
}
.icon-instagram:before {
  content: "\e607";
}
.icon-twitter-circle:before {
  content: "\e608";
}
.icon-facebook-circle:before {
  content: "\e609";
}
.icon-github-circle:before {
  content: "\e60a";
}
.icon-github:before {
  content: "\e60b";
}
.icon-linked_in-circle:before {
  content: "\e60c";
}
.icon-dribbble-circle:before {
  content: "\e60d";
}
.icon-googleplus:before {
  content: "\e60e";
}
.icon-googleplus-circle:before {
  content: "\e60f";
}
.icon-pinterest:before {
  content: "\e610";
}
.icon-pinterest-circle:before {
  content: "\e611";
}
.icon-tumblr:before {
  content: "\e612";
}
.icon-tumblr-circle:before {
  content: "\e613";
}
.icon-dribbble:before {
  content: "\e614";
}
.icon-rdio:before {
  content: "\e615";
}
.icon-rdio-circle:before {
  content: "\e616";
}
.icon-spotify-circle:before {
  content: "\e617";
}
.icon-spotify:before {
  content: "\e618";
}
.icon-skype:before {
  content: "\e619";
}
.icon-skype-circle:before {
  content: "\e61a";
}
.icon-vimeo:before {
  content: "\e61b";
}
.icon-vimeo-circle:before {
  content: "\e61c";
}
.icon-clock:before {
  content: "\e61d";
}
.icon-list2:before {
  content: "\e61e";
}
.icon-megaphone:before {
  content: "\e61f";
}
.icon-cog:before {
  content: "\e620";
}
.icon-tools:before {
  content: "\e621";
}
.icon-pencil:before {
  content: "\e622";
}
.icon-paperclip:before {
  content: "\e623";
}
.icon-logout:before {
  content: "\e624";
}
.icon-login:before {
  content: "\e625";
}
.icon-plus:before {
  content: "\e626";
}
.icon-cross:before {
  content: "\e627";
}
.icon-trash:before {
  content: "\e628";
}
.icon-screen:before {
  content: "\e629";
}
.icon-code:before {
  content: "\e62a";
}
.icon-cross:before {
  content: "\e62b";
}
.icon-arrow-right:after {
  display: inline-block;
  content: "\e62c";
}
.icon-arrow-left:before {
  display: inline-block;
  content: "\e62d";
}
.icon-light-bulb:before {
  content: "\e62e";
}
.icon-brush:before {
  content: "\e62f";
}


// Misc
.arrow-double {
  margin: 0 0.2em;
  > * {
    width: 0.5em;
    display: inline-block;
    text-indent: -0.15em
  }
}