@font-face {
  font-family: 'cremalab-icons';
  src:font-url('cremalab-icons.eot');
  src:font-url('cremalab-icons.eot?#iefix') format('embedded-opentype'),
    font-url('cremalab-icons.woff') format('woff'),
    font-url('cremalab-icons.ttf') format('truetype'),
    font-url('cremalab-icons.svg#cremalab-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url("//hello.myfonts.net/count/25cabb");


@font-face {font-family: 'AvenirLTCom-Oblique';src: font-url('25CABB_0_0.eot');src: font-url('25CABB_0_0.eot?#iefix') format('embedded-opentype'),font-url('25CABB_0_0.woff') format('woff'),font-url('25CABB_0_0.ttf') format('truetype');}


// @font-face {font-family: 'AvenirLTCom-HeavyOblique';src: font-url('25CABB_1_0.eot');src: font-url('25CABB_1_0.eot?#iefix') format('embedded-opentype'),font-url('25CABB_1_0.woff') format('woff'),font-url('25CABB_1_0.ttf') format('truetype');}


// @font-face {font-family: 'AvenirLTCom-Book';src: font-url('25CABB_2_0.eot');src: font-url('25CABB_2_0.eot?#iefix') format('embedded-opentype'),font-url('25CABB_2_0.woff') format('woff'),font-url('25CABB_2_0.ttf') format('truetype');}


// @font-face {font-family: 'AvenirLTCom-Medium';src: font-url('25CABB_3_0.eot');src: font-url('25CABB_3_0.eot?#iefix') format('embedded-opentype'),font-url('25CABB_3_0.woff') format('woff'),font-url('25CABB_3_0.ttf') format('truetype');}


// @font-face {font-family: 'AvenirLTCom-LightOblique';src: font-url('25CABB_4_0.eot');src: font-url('25CABB_4_0.eot?#iefix') format('embedded-opentype'),font-url('25CABB_4_0.woff') format('woff'),font-url('25CABB_4_0.ttf') format('truetype');}


// @font-face {font-family: 'AvenirLTCom-Heavy';src: font-url('25CABB_5_0.eot');src: font-url('25CABB_5_0.eot?#iefix') format('embedded-opentype'),font-url('25CABB_5_0.woff') format('woff'),font-url('25CABB_5_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirLTCom-Light'; font-weight: normal; src: font-url('25CABB_6_0.eot');src: font-url('25CABB_6_0.eot?#iefix') format('embedded-opentype'),font-url('25CABB_6_0.woff') format('woff'),font-url('25CABB_6_0.ttf') format('truetype');}


// @font-face {font-family: 'AvenirLTCom-BlackOblique';src: font-url('25CABB_7_0.eot');src: font-url('25CABB_7_0.eot?#iefix') format('embedded-opentype'),font-url('25CABB_7_0.woff') format('woff'),font-url('25CABB_7_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirLTCom-Black'; font-weight: normal; src: font-url('25CABB_8_0.eot');src: font-url('25CABB_8_0.eot?#iefix') format('embedded-opentype'),font-url('25CABB_8_0.woff') format('woff'),font-url('25CABB_8_0.ttf') format('truetype');}


// @font-face {font-family: 'AvenirLTCom-Roman';src: font-url('25CABB_9_0.eot');src: font-url('25CABB_9_0.eot?#iefix') format('embedded-opentype'),font-url('25CABB_9_0.woff') format('woff'),font-url('25CABB_9_0.ttf') format('truetype');}


// @font-face {font-family: 'AvenirLTCom-BookOblique';src: font-url('25CABB_A_0.eot');src: font-url('25CABB_A_0.eot?#iefix') format('embedded-opentype'),font-url('25CABB_A_0.woff') format('woff'),font-url('25CABB_A_0.ttf') format('truetype');}


// @font-face {font-family: 'AvenirLTCom-MediumOblique';src: font-url('25CABB_B_0.eot');src: font-url('25CABB_B_0.eot?#iefix') format('embedded-opentype'),font-url('25CABB_B_0.woff') format('woff'),font-url('25CABB_B_0.ttf') format('truetype');}
