%header.layout-header.sub-contact
  .layout-content
    <h1>Get in touch with us.</h1>
.layout-grid.sub-four
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        %a.contactBlock-size-wrap-content.sub-red{href: "#"}
          .icon-location
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content.sub-orange
          .icon-mobile
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content.sub-yellow
          .icon-mail
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content.sub-green
          .icon-megaphone
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content.sub-blue
          .icon-facebook
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content.sub-indigo
          .icon-twitter2
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content.sub-violet
          .icon-linked_in2
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content.sub-brown
          .icon-instagram
.layout-content.sub-narrow
  %h2.sub-centered 
    Have more to say?
    %span.subHeading Use this handy form to start a conversation with us.
  %form
    %input{type: "text", placeholder: "My friends call me..."}
    %input{type: "text", placeholder: "I respond to emails at..."}
    %textarea{placeholder: "I’d like to talk about..."}
    %input.button.sub-outline{type: "submit", value: "And Go!"}
