%header.layout-header.sub-contact
  .layout-content
    <h1>Get in touch with us.</h1>
.layout-grid.sub-four
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content
          %p Address
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content
          Call
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content
          Email
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content
          Newsletter
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content
          Facebook
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content
          Twitter
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content
          Linkedin
  .contactBlock
    .contactBlock-size
      .contactBlock-size-wrap
        .contactBlock-size-wrap-content
          Instagram

