.intro {
  max-width: 28em;
  margin: 0 auto;
}
.intro-logo img {
  width: 100%;
  max-width: 4em;
}
.intro-script img {
  max-width: 15em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin-bottom: 0;
}
*:first-child {
  margin-top: 0 !important;
}
.v-space-none > * {
  margin-top: 0 !important;
}
body {
  margin: 0;
}
.grid {
  vertical-align: top;
  border-spacing: 0;
}
.grid.auto {
  table-layout: fixed;
}
.grid.inline {
  display: inline-block;
}
.grid.align-top {
  vertical-align: top;
}
.grid.align-middle {
  vertical-align: middle;
}
.grid.align-bottom {
  vertical-align: bottom;
}
.grid.height-full {
  height: 100%;
}
.grid.wrapped {
  border-spacing: 0;
  margin: 0;
}
.grid.wrapped > .grid-items {
  display: block;
  width: auto;
  font-size: 0;
}
.grid.wrapped > .grid-items > * {
  font-size: 1rem;
  display: inline-block;
  margin: 0;
  height: auto;
}
.grid-items,
.col,
.rows,
.row {
  vertical-align: inherit;
}
.grid-items {
  display: table;
  table-layout: inherit;
  border-spacing: inherit;
  width: 100%;
  height: inherit;
}
.col {
  display: table-cell;
}
.col.max {
  width: 100%;
}
.col.min {
  width: 0.00001px;
}
.rows {
  display: table-row-group;
}
.row {
  display: table-row;
}
.row.max {
  height: 100%;
}
.row.min {
  height: 0.00001px;
}
label.avatar-gender-male {
  background: #86cdff;
}
label.avatar-gender-female {
  background: #ffc0cb;
}
label.avatar-hat-0 {
  background: #ff3e05;
}
.avatar.avatar-hat-0 .hat {
  color: #ff3e05;
}
label.avatar-hat-1 {
  background: #ff8d05;
}
.avatar.avatar-hat-1 .hat {
  color: #ff8d05;
}
label.avatar-hat-2 {
  background: #ecca05;
}
.avatar.avatar-hat-2 .hat {
  color: #ecca05;
}
label.avatar-hat-3 {
  background: #40af04;
}
.avatar.avatar-hat-3 .hat {
  color: #40af04;
}
label.avatar-hat-4 {
  background: #057fff;
}
.avatar.avatar-hat-4 .hat {
  color: #057fff;
}
label.avatar-hat-5 {
  background: #7500ca;
}
.avatar.avatar-hat-5 .hat {
  color: #7500ca;
}
label.avatar-hat-6 {
  background: #cc6fcc;
}
.avatar.avatar-hat-6 .hat {
  color: #cc6fcc;
}
label.avatar-hat-7 {
  background: #555;
}
.avatar.avatar-hat-7 .hat {
  color: #555;
}
label.avatar-hat-8 {
  background: #f5f5f5;
}
.avatar.avatar-hat-8 .hat {
  color: #f5f5f5;
}
label.avatar-hair-0 {
  background: #f1d2c1;
}
.avatar.avatar-hair-0 .hair {
  color: #f1d2c1;
}
label.avatar-hair-1 {
  background: #e8b295;
}
.avatar.avatar-hair-1 .hair {
  color: #e8b295;
}
label.avatar-hair-2 {
  background: #e4aa78;
}
.avatar.avatar-hair-2 .hair {
  color: #e4aa78;
}
label.avatar-hair-3 {
  background: #b87049;
}
.avatar.avatar-hair-3 .hair {
  color: #b87049;
}
label.avatar-hair-4 {
  background: #333;
}
.avatar.avatar-hair-4 .hair {
  color: #333;
}
label.avatar-skin-0 {
  background: #f1d2c1;
}
.avatar.avatar-skin-0 .head {
  background: #f1d2c1;
}
label.avatar-skin-1 {
  background: #e8b295;
}
.avatar.avatar-skin-1 .head {
  background: #e8b295;
}
label.avatar-skin-2 {
  background: #e4aa78;
}
.avatar.avatar-skin-2 .head {
  background: #e4aa78;
}
label.avatar-skin-3 {
  background: #b87049;
}
.avatar.avatar-skin-3 .head {
  background: #b87049;
}
label.avatar-skin-4 {
  background: #583728;
}
.avatar.avatar-skin-4 .head {
  background: #583728;
}
label.avatar-coat-0 {
  background: #ff3e05;
}
.avatar.avatar-coat-0 .arm,
.avatar.avatar-coat-0 .torso {
  background: #ff3e05;
}
label.avatar-coat-1 {
  background: #ff8d05;
}
.avatar.avatar-coat-1 .arm,
.avatar.avatar-coat-1 .torso {
  background: #ff8d05;
}
label.avatar-coat-2 {
  background: #ecca05;
}
.avatar.avatar-coat-2 .arm,
.avatar.avatar-coat-2 .torso {
  background: #ecca05;
}
label.avatar-coat-3 {
  background: #40af04;
}
.avatar.avatar-coat-3 .arm,
.avatar.avatar-coat-3 .torso {
  background: #40af04;
}
label.avatar-coat-4 {
  background: #057fff;
}
.avatar.avatar-coat-4 .arm,
.avatar.avatar-coat-4 .torso {
  background: #057fff;
}
label.avatar-coat-5 {
  background: #7500ca;
}
.avatar.avatar-coat-5 .arm,
.avatar.avatar-coat-5 .torso {
  background: #7500ca;
}
label.avatar-coat-6 {
  background: #cc6fcc;
}
.avatar.avatar-coat-6 .arm,
.avatar.avatar-coat-6 .torso {
  background: #cc6fcc;
}
label.avatar-coat-7 {
  background: #555;
}
.avatar.avatar-coat-7 .arm,
.avatar.avatar-coat-7 .torso {
  background: #555;
}
label.avatar-coat-8 {
  background: #f5f5f5;
}
.avatar.avatar-coat-8 .arm,
.avatar.avatar-coat-8 .torso {
  background: #f5f5f5;
}
label.avatar-pants-0 {
  background: #ff3e05;
}
.avatar.avatar-pants-0 .leg {
  background: #ff3e05;
}
label.avatar-pants-1 {
  background: #ff8d05;
}
.avatar.avatar-pants-1 .leg {
  background: #ff8d05;
}
label.avatar-pants-2 {
  background: #ecca05;
}
.avatar.avatar-pants-2 .leg {
  background: #ecca05;
}
label.avatar-pants-3 {
  background: #40af04;
}
.avatar.avatar-pants-3 .leg {
  background: #40af04;
}
label.avatar-pants-4 {
  background: #057fff;
}
.avatar.avatar-pants-4 .leg {
  background: #057fff;
}
label.avatar-pants-5 {
  background: #7500ca;
}
.avatar.avatar-pants-5 .leg {
  background: #7500ca;
}
label.avatar-pants-6 {
  background: #cc6fcc;
}
.avatar.avatar-pants-6 .leg {
  background: #cc6fcc;
}
label.avatar-pants-7 {
  background: #555;
}
.avatar.avatar-pants-7 .leg {
  background: #555;
}
label.avatar-pants-8 {
  background: #f5f5f5;
}
.avatar.avatar-pants-8 .leg {
  background: #f5f5f5;
}
@font-face {
  font-family: 'crema-christmas';
  src: url("/party/fonts/crema-christmas.eot?-g74vkh");
  src: url("/party/fonts/crema-christmas.eot?#iefix-g74vkh") format('embedded-opentype'), url("/party/fonts/crema-christmas.woff?-g74vkh") format('woff'), url("/party/fonts/crema-christmas.ttf?-g74vkh") format('truetype'), url("/party/fonts/crema-christmas.svg?-g74vkh#crema-christmas") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"],
.audioToggle {
  font-family: 'crema-christmas';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e601";
}
.icon-volume:before {
  content: "\e098";
}
.icon-mute:before {
  content: "\e099";
}
.icon-twitter:before {
  content: "\e600";
  font-size: 1.75em;
  line-height: 1.25em;
}
.pad-1 {
  padding: 2.756em;
}
.pad-t-1 {
  padding-top: 2.756em;
}
.pad-r-1 {
  padding-right: 2.756em;
}
.pad-b-1 {
  padding-bottom: 2.756em;
}
.pad-l-1 {
  padding-left: 2.756em;
}
.nest-1 * {
  margin-top: 2.756em;
  margin-top: 2.756rem;
}
.nest-1 .grid.spaced {
  border-spacing: 2.756em 0;
  margin: 2.756em -2.756em 0;
}
.nest-1 .grid.spaced.wrapped {
  margin: 1.378em -1.378em -1.378em !important;
}
.nest-1 .grid.spaced.wrapped:first-child {
  margin-top: -1.378em !important;
}
.nest-1 .grid.spaced.wrapped > .grid-items > * {
  padding: 1.378em;
  margin: 0 !important;
}
.pad-2,
.modal-content-box {
  padding: 1.837em;
}
.pad-t-2 {
  padding-top: 1.837em;
}
.pad-r-2 {
  padding-right: 1.837em;
}
.pad-b-2 {
  padding-bottom: 1.837em;
}
.pad-l-2 {
  padding-left: 1.837em;
}
.nest-2 *,
.modal-content-box * {
  margin-top: 1.837em;
  margin-top: 1.837rem;
}
.nest-2 .grid.spaced,
.modal-content-box .grid.spaced {
  border-spacing: 1.837em 0;
  margin: 1.837em -1.837em 0;
}
.nest-2 .grid.spaced.wrapped,
.modal-content-box .grid.spaced.wrapped {
  margin: 0.9185em -0.9185em -0.9185em !important;
}
.nest-2 .grid.spaced.wrapped:first-child,
.modal-content-box .grid.spaced.wrapped:first-child {
  margin-top: -0.9185em !important;
}
.nest-2 .grid.spaced.wrapped > .grid-items > *,
.modal-content-box .grid.spaced.wrapped > .grid-items > * {
  padding: 0.9185em;
  margin: 0 !important;
}
.pad-3 {
  padding: 1.225em;
}
.pad-t-3 {
  padding-top: 1.225em;
}
.pad-r-3,
button {
  padding-right: 1.225em;
}
.pad-b-3 {
  padding-bottom: 1.225em;
}
.pad-l-3,
button {
  padding-left: 1.225em;
}
.nest-3 * {
  margin-top: 1.225em;
  margin-top: 1.225rem;
}
.nest-3 .grid.spaced {
  border-spacing: 1.225em 0;
  margin: 1.225em -1.225em 0;
}
.nest-3 .grid.spaced.wrapped {
  margin: 0.6125em -0.6125em -0.6125em !important;
}
.nest-3 .grid.spaced.wrapped:first-child {
  margin-top: -0.6125em !important;
}
.nest-3 .grid.spaced.wrapped > .grid-items > * {
  padding: 0.6125em;
  margin: 0 !important;
}
.pad-4,
.sidebar {
  padding: 0.816em;
}
.pad-t-4 {
  padding-top: 0.816em;
}
.pad-r-4,
.colorPicker label,
.playerList .player-name {
  padding-right: 0.816em;
}
.pad-b-4 {
  padding-bottom: 0.816em;
}
.pad-l-4,
.colorPicker label,
.playerList .player-name {
  padding-left: 0.816em;
}
.nest-4 *,
.sidebar * {
  margin-top: 0.816em;
  margin-top: 0.816rem;
}
.nest-4 .grid.spaced,
.sidebar .grid.spaced {
  border-spacing: 0.816em 0;
  margin: 0.816em -0.816em 0;
}
.nest-4 .grid.spaced.wrapped,
.sidebar .grid.spaced.wrapped {
  margin: 0.408em -0.408em -0.408em !important;
}
.nest-4 .grid.spaced.wrapped:first-child,
.sidebar .grid.spaced.wrapped:first-child {
  margin-top: -0.408em !important;
}
.nest-4 .grid.spaced.wrapped > .grid-items > *,
.sidebar .grid.spaced.wrapped > .grid-items > * {
  padding: 0.408em;
  margin: 0 !important;
}
.pad-5,
input[type='text'],
.modal-content {
  padding: 0.544em;
}
.pad-t-5,
button {
  padding-top: 0.544em;
}
.pad-r-5 {
  padding-right: 0.544em;
}
.pad-b-5,
button {
  padding-bottom: 0.544em;
}
.pad-l-5 {
  padding-left: 0.544em;
}
.nest-5 *,
.app-controls * {
  margin-top: 0.544em;
  margin-top: 0.544rem;
}
.nest-5 .grid.spaced,
.app-controls .grid.spaced {
  border-spacing: 0.544em 0;
  margin: 0.544em -0.544em 0;
}
.nest-5 .grid.spaced.wrapped,
.app-controls .grid.spaced.wrapped {
  margin: 0.272em -0.272em -0.272em !important;
}
.nest-5 .grid.spaced.wrapped:first-child,
.app-controls .grid.spaced.wrapped:first-child {
  margin-top: -0.272em !important;
}
.nest-5 .grid.spaced.wrapped > .grid-items > *,
.app-controls .grid.spaced.wrapped > .grid-items > * {
  padding: 0.272em;
  margin: 0 !important;
}
.pad-6,
.close,
.app-control {
  padding: 0.363em;
}
.pad-t-6,
.playerList .player-name {
  padding-top: 0.363em;
}
.pad-r-6 {
  padding-right: 0.363em;
}
.pad-b-6,
.playerList .player-name {
  padding-bottom: 0.363em;
}
.pad-l-6 {
  padding-left: 0.363em;
}
.nest-6 *,
.field * {
  margin-top: 0.363em;
  margin-top: 0.363rem;
}
.nest-6 .grid.spaced,
.field .grid.spaced {
  border-spacing: 0.363em 0;
  margin: 0.363em -0.363em 0;
}
.nest-6 .grid.spaced.wrapped,
.field .grid.spaced.wrapped {
  margin: 0.1815em -0.1815em -0.1815em !important;
}
.nest-6 .grid.spaced.wrapped:first-child,
.field .grid.spaced.wrapped:first-child {
  margin-top: -0.1815em !important;
}
.nest-6 .grid.spaced.wrapped > .grid-items > *,
.field .grid.spaced.wrapped > .grid-items > * {
  padding: 0.1815em;
  margin: 0 !important;
}
.nest-reset *,
.avatar * {
  margin-top: 0;
}
@media (max-width: 768px) {
  .grid.break-max-medium > .grid-items > .row > .col,
  .grid.break-max-medium > .grid-items > .col {
    display: block;
  }
}
@media (max-width: 640px) {
  .grid.break-max-small > .grid-items > .col {
    display: block;
  }
}
button,
input[type='text'],
.modal-content-box {
  border-radius: 0.25em;
}
.scroll {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.scroll-pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.config {
  color: #f00;
}
button {
  font: inherit;
  font-weight: 500;
  background: #04ba75;
  border: none;
  color: #fff;
  cursor: pointer;
}
button.sub-width-full {
  width: 100%;
}
button.sub-bigRed {
  color: #f00;
  border: 2px solid;
  background: none;
}
button.sub-bigGreen {
  color: #04ba75;
  border: 2px solid;
  background: none;
}
img {
  max-width: 100%;
}
input[type='text'] {
  border: 2px solid #ececec;
  width: 100%;
  background-clip: content-box;
}
input[type='text']:focus {
  outline: none;
  border-color: #04ba75;
}
input {
  font: inherit;
}
html {
  font: 100%/1.5 "Helvetica Neue";
}
@media (max-width: 700px) {
  html .sidebar,
  html #map {
    font-size: 75%;
  }
}
h1 {
  font-weight: 400;
}
h2 {
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
h4 {
  font-weight: 400;
}
h5 {
  font-weight: 400;
}
h6 {
  font-weight: 400;
}
small,
.field-label {
  font-size: 0.875em;
}
.tiny {
  font-size: 0.75em;
}
.audioToggle {
  font-size: 2em;
  cursor: pointer;
}
.audioToggle:hover {
  color: #f00;
}
.audioToggle:after {
  content: "\e099";
}
.audioToggle.sub-muted:after {
  content: "\e098";
}
.audioToggle.sub-muted:hover {
  color: #04ba75;
}
.torso {
  width: 2em;
  height: 2.8em;
  border-radius: 50% 50% 26% 26%;
  box-shadow: inset 0.4em 0 rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.35);
  background: #008080;
  display: inline-block;
  position: absolute;
  top: 2.2em;
  z-index: 3;
  left: 50%;
  margin-left: -1em;
}
.headSizing,
.head,
.hat {
  width: 4em;
  height: 4em;
  border-radius: 50% 50% 40% 40%;
  overflow: hidden;
}
[data-gender="female"] .headSizing,
[data-gender="female"] .head,
[data-gender="female"] .hat {
  border-radius: 50%;
}
[data-pos="2"] .headSizing,
[data-pos="2"] .head,
[data-pos="2"] .hat,
[data-pos="6"] .headSizing,
[data-pos="6"] .head,
[data-pos="6"] .hat {
  border-radius: 50% 50% 40% 50%;
}
[data-pos="4"] .headSizing,
[data-pos="4"] .head,
[data-pos="4"] .hat {
  border-radius: 50%;
}
.head {
  background: #eb9;
  position: relative;
  height: 3.9em;
  top: 0.1em;
  z-index: 4;
}
.hat {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  color: #4b0082;
}
.hat:after {
  content: '';
  display: block;
  border-radius: 40%;
  position: absolute;
  top: 0;
  left: 0;
  width: 4em;
  height: 4em;
  box-shadow: inset 0.4em 0 rgba(0,0,0,0.2);
}
.hat:before {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  color: inherit;
  box-shadow: 0.1em 0.2em 0 rgba(0,0,0,0.2);
}
[data-pos="0"] .hat:before,
[data-pos="1"] .hat:before,
[data-pos="2"] .hat:before,
[data-pos="6"] .hat:before,
[data-pos="7"] .hat:before {
  margin-left: -2.2em;
  width: 4.4em;
  height: 4.5em;
  box-shadow: inset 0 1.8em 0 currentColor, inset 0 2em 0 rgba(0,0,0,0.2);
}
[data-pos="1"] .hat:before,
[data-pos="2"] .hat:before,
[data-pos="6"] .hat:before,
[data-pos="7"] .hat:before {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
[data-pos="2"] .hat:before,
[data-pos="6"] .hat:before {
  width: 7em;
  margin-left: -3.5em;
  box-shadow: inset 0 2.2em 0 currentColor, inset 0 2.4em 0 rgba(0,0,0,0.2);
}
[data-pos="3"] .hat:before,
[data-pos="4"] .hat:before,
[data-pos="5"] .hat:before {
  width: 5.6em;
  height: 5em;
  background: currentColor;
  left: -1.5em;
  top: -1.6em;
}
[data-pos="4"] .hat:before {
  left: -0.8em;
}
.leg {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #999;
  box-shadow: inset 0.4em 0 rgba(0,0,0,0.2);
  position: absolute;
  top: 4.3em;
  z-index: 1;
}
[data-gender="female"] .leg {
  background-color: #fa8072;
}
.right.leg {
  left: 1.1em;
}
[data-pos="1"] .right.leg,
[data-pos="7"] .right.leg {
  left: 1.4em;
  z-index: 2;
}
[data-pos="2"] .right.leg,
[data-pos="6"] .right.leg {
  left: 1.5em;
  z-index: 2;
}
[data-pos="3"] .right.leg,
[data-pos="5"] .right.leg {
  left: 1.7em;
  z-index: 2;
}
[data-pos="4"] .right.leg {
  left: 1.9em;
  z-index: 2;
}
.left.leg {
  right: 1.1em;
}
[data-pos="1"] .left.leg,
[data-pos="7"] .left.leg {
  right: 1.2em;
}
[data-pos="2"] .left.leg,
[data-pos="6"] .left.leg {
  right: 1.4em;
}
[data-pos="3"] .left.leg,
[data-pos="5"] .left.leg {
  right: 1.6em;
}
[data-pos="4"] .left.leg {
  right: 1.9em;
}
.mouth {
  width: 1em;
  margin-left: -0.5em;
  height: 0.4em;
  border-radius: 50%;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.5);
  z-index: 8;
  position: absolute;
  top: 3.3em;
  left: 50%;
}
[data-pos="1"] .mouth,
[data-pos="7"] .mouth {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  margin-left: 0.3em;
  top: 3.1em;
}
[data-pos="2"] .mouth,
[data-pos="6"] .mouth {
  width: 0.6em;
  margin-left: 0.9em;
  height: 0.3em;
}
[data-pos="3"] .mouth {
  width: 0.6em;
  margin-left: 0.9em;
  height: 0.3em;
}
[data-pos="3"] .mouth,
[data-pos="4"] .mouth,
[data-pos="5"] .mouth {
  z-index: 2;
}
.eye {
  width: 0.3em;
  height: 0.5em;
  border-radius: 50%;
  position: absolute;
  z-index: 6;
  top: 2.6em;
  background: transparent;
  box-shadow: 0 -0.2em 0em rgba(0,0,0,0.1), inset 0.1em 0.2em 0 #555;
}
.left.eye {
  right: 1.2em;
}
[data-pos="1"] .left.eye,
[data-pos="7"] .left.eye {
  right: 0.5em;
  top: 2.3em;
}
[data-pos="2"] .left.eye,
[data-pos="6"] .left.eye {
  right: 0.8em;
  top: 2.3em;
  z-index: 2;
}
[data-pos="3"] .left.eye,
[data-pos="5"] .left.eye {
  right: 1.2em;
  top: 2.3em;
}
[data-pos="3"] .left.eye,
[data-pos="5"] .left.eye,
[data-pos="4"] .left.eye {
  right: 2em;
}
.right.eye {
  left: 1.2em;
}
[data-pos="1"] .right.eye,
[data-pos="7"] .right.eye {
  left: 2em;
}
[data-pos="2"] .right.eye,
[data-pos="6"] .right.eye {
  left: 2.8em;
}
[data-pos="3"] .right.eye,
[data-pos="5"] .right.eye {
  left: 2.8em;
}
[data-pos="3"] .right.eye,
[data-pos="5"] .right.eye,
[data-pos="4"] .right.eye {
  z-index: 2;
}
.arm {
  width: 1em;
  height: 0.8em;
  background: #008080;
  border-radius: 50%;
  box-shadow: inset 0.4em 0 rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.35);
  top: 3.6em;
  position: absolute;
  z-index: 1;
}
.arm.right {
  left: 0.5em;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
[data-pos="1"] .arm.right,
[data-pos="7"] .arm.right {
  left: 1em;
  z-index: 3;
  top: 3.8em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
[data-pos="2"] .arm.right,
[data-pos="6"] .arm.right {
  left: 1.5em;
  z-index: 3;
  top: 3.9em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
[data-pos="3"] .arm.right,
[data-pos="5"] .arm.right {
  left: 1.9em;
  z-index: 3;
  top: 3.9em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
[data-pos="4"] .arm.right {
  left: 2.6em;
  z-index: 3;
  top: 3.7em;
  -webkit-transform: rotate(-110deg);
  transform: rotate(-110deg);
}
.arm.left {
  right: 0.5em;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
[data-pos="1"] .arm.left,
[data-pos="7"] .arm.left {
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  right: 1em;
}
[data-pos="2"] .arm.left,
[data-pos="6"] .arm.left {
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  right: 1.5em;
  z-index: 2;
}
[data-pos="3"] .arm.left,
[data-pos="5"] .arm.left {
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  right: 1.9em;
  z-index: 2;
}
[data-pos="4"] .arm.left {
  -webkit-transform: rotate(110deg);
  transform: rotate(110deg);
  right: 2.6em;
  z-index: 3;
}
.avatar-holder {
  padding: 2em;
}
.avatar-holder * {
  transition: all 0.2s ease-in-out;
}
.avatar {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: inline-block;
  text-align: center;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  font-size: 1em;
}
.avatar .body {
  transition: font-size 1s;
  font-size: 1em;
}
.power-up .avatar .body {
  font-size: 2em;
}
.power-up .avatar .player-name {
  top: 3.8em;
}
.power-up .avatar .speech-bubble {
  bottom: 8em;
}
.power-up .avatar:after {
  top: 3em;
}
.avatar.active {
  transition: none;
  -webkit-animation-duration: 0;
  animation-duration: 0;
}
.avatar .player-name {
  position: absolute;
  z-index: 10;
  text-align: center;
  white-space: nowrap;
  top: 2.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 90%;
}
.chat-dialog {
  z-index: 20;
  position: relative;
  width: auto;
  min-width: 10em;
}
.speech-bubble {
  position: absolute;
  width: auto;
  max-width: 30em;
  min-width: 10em;
  height: auto;
  padding: 0.4em;
  background: #fff;
  border-radius: 5px;
  z-index: 20;
  bottom: 4.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.speech-bubble input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
}
.speech-bubble .close {
  background: #e3e3e3;
  right: -0.875em;
  top: -0.875em;
}
.speech-bubble:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
}
.close {
  position: absolute;
  text-decoration: none;
  color: #000;
  margin: 0;
  line-height: 1em;
  display: inline-table;
  color: #999;
  border-radius: 100px;
  background: #fff;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
.close:hover {
  color: #333;
}
.colorPicker {
  font-size: 0.875em;
  text-align: center;
  display: inline-table;
  width: 100%;
  background: #fff;
  padding: 2px;
  vertical-align: middle;
  white-space: nowrap;
  border-spacing: 0;
  border-collapse: collapse;
  background: #fff;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  border-radius: 0.25em;
}
.colorPicker label {
  height: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s ease-in-out;
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
  text-transform: capitalize;
  letter-spacing: -0.6em;
  color: transparent;
  opacity: 0.25;
  width: 1%;
}
.colorPicker label:first-of-type {
  border-radius: 0.25em 0 0 0.25em;
}
.colorPicker label:last-of-type {
  border-radius: 0 0.25em 0.25em 0;
}
.colorPicker label:hover {
  opacity: 1;
  color: initial;
  letter-spacing: normal;
}
.colorPicker input {
  display: none;
}
.colorPicker input:checked + label {
  width: 90%;
  opacity: 1;
  color: initial;
  letter-spacing: normal;
}
.disco-time .disco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 9000;
  pointer-events: none;
}
.disco-time .disco .lights {
  -webkit-transform: perspective(600px) rotateX(84deg);
  transform: perspective(600px) rotateX(84deg);
}
.disco-time .disco .light {
  position: absolute;
  top: -5em;
  left: 50%;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  width: 5em;
  height: 42em;
  margin-left: -10em;
  -webkit-animation-name: move;
  animation-name: move;
  background: linear-gradient(to bottom, currentColor 0%, rgba(255,255,255,0) 100%);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-filter: blur(0.3em);
  filter: blur(0.3em);
}
.disco-time .disco .light.red {
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  color: #f00;
}
.disco-time .disco .light.yellow {
  color: #ff0;
}
.disco-time .disco .light.green {
  color: #04ba75;
  -webkit-animation-duration: 2.8s;
  animation-duration: 2.8s;
}
.disco-time .disco .light.blue {
  color: #00f;
  -webkit-animation-duration: 4.2s;
  animation-duration: 4.2s;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(-33deg);
    transform: rotate(-33deg);
  }
  50% {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
  }
  100% {
    -webkit-transform: rotate(-33deg);
    transform: rotate(-33deg);
  }
}
@keyframes move {
  0% {
    -webkit-transform: rotate(-33deg);
    transform: rotate(-33deg);
  }
  50% {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
  }
  100% {
    -webkit-transform: rotate(-33deg);
    transform: rotate(-33deg);
  }
}
.field-label {
  white-space: nowrap;
}
.sub-colorPicker .field-label {
  text-align: right;
}
.field.sub-colorPicker .grid {
  border-spacing: 0.5em !important;
  margin: -0.5em !important;
}
.keysHints {
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: 10;
  width: 100%;
  text-align: center;
}
.keysHints .hint {
  display: inline-block;
  margin-bottom: 0.5em;
}
.hint {
  max-width: 15em;
  padding: 0.5em;
  font-family: 'Menlo', 'Monaco', 'Courier New';
  font-size: 0.7em;
  line-height: 1.7em;
  background: rgba(255,255,255,0.8);
  text-align: center;
  border-radius: 5px;
  color: #222;
  pointer-events: none;
}
.hint .val {
  color: #fff;
  background: #bbb;
  display: inline-block;
  border-radius: 0.2em;
  padding: 0 0.5em;
  box-shadow: 0.1em -0.1em 0 #aaa, 0.2em -0.2em 0 #aaa;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 2002px;
  height: 1500px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background: url("../images/Map2.png") no-repeat;
}
#drawCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 5769px;
  height: 4102px;
}
#snowCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.obstruction {
  position: absolute;
  transition: all 0.3s;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  background: rgba(0,0,0,0.25);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal-wrap {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
.modal-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media (max-width: 768px) {
  .modal-content .field-label {
    text-align: left;
  }
}
.modal-content-box {
  display: inline-block;
  background: #fff;
  position: relative;
  width: 100%;
  max-width: 30em;
  box-shadow: 0 0.15em 0.15em 0.25em rgba(0,0,0,0.05);
}
.modal-content-box .close {
  top: 0.5em;
  right: 0.5em;
  font-size: 1.5em;
}
.modal.sub-intro .modal-content-box {
  max-width: 40em;
}
.avatar-holder .avatar {
  position: relative;
}
.playerList .avatar {
  position: relative;
  display: block;
  font-size: 0.25em;
  cursor: pointer;
}
.playerList .avatar:after {
  display: none;
}
.playerList .avatar.active {
  font-size: 0.75em;
  height: 5.35em;
}
.playerList .avatar:hover .player-name {
  opacity: 1;
  -webkit-transform: translateX(0.75em);
  transform: translateX(0.75em);
}
.playerList .avatar-wrap {
  width: auto;
  height: auto;
  display: inline-table;
}
.playerList .body {
  position: static;
}
.playerList .player-name {
  transition: all 0.15s ease-in-out;
  background: #fff;
  left: 100%;
  top: 25%;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  opacity: 0;
  border-radius: 0.25em;
  font-size: 0.75rem;
}
.playerList .player-name:before {
  content: '';
  display: block;
  position: absolute;
  right: 99.5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: content-box !important;
  border-width: 0.35em;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  width: 0;
  height: 0;
}
.service {
  text-align: center;
}
.service.sub-pubnub img,
.service.sub-github img {
  max-height: 1.35em;
}
.sidebar {
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sidebar button {
  font-size: 0.75em;
  width: 100%;
}
.sidebar-brand {
  width: 100%;
  cursor: pointer;
  text-align: center;
}
.sidebar-brand img {
  width: 100%;
  max-width: 4em;
}
.arm {
  width: 1em;
  height: 0.8em;
  background: #008080;
  border-radius: 50%;
  box-shadow: inset 0.4em 0 rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.35);
  top: 3.6em;
  position: absolute;
  z-index: 1;
}
.arm.right {
  left: 0.5em;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
[data-pos="1"] .arm.right,
[data-pos="7"] .arm.right {
  left: 1em;
  z-index: 3;
  top: 3.8em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
[data-pos="2"] .arm.right,
[data-pos="6"] .arm.right {
  left: 1.5em;
  z-index: 3;
  top: 3.9em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
[data-pos="3"] .arm.right,
[data-pos="5"] .arm.right {
  left: 1.9em;
  z-index: 3;
  top: 3.9em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
[data-pos="4"] .arm.right {
  left: 2.6em;
  z-index: 3;
  top: 3.7em;
  -webkit-transform: rotate(-110deg);
  transform: rotate(-110deg);
}
.arm.left {
  right: 0.5em;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
[data-pos="1"] .arm.left,
[data-pos="7"] .arm.left {
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  right: 1em;
}
[data-pos="2"] .arm.left,
[data-pos="6"] .arm.left {
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  right: 1.5em;
  z-index: 2;
}
[data-pos="3"] .arm.left,
[data-pos="5"] .arm.left {
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  right: 1.9em;
  z-index: 2;
}
[data-pos="4"] .arm.left {
  -webkit-transform: rotate(110deg);
  transform: rotate(110deg);
  right: 2.6em;
  z-index: 3;
}
.avatar-wrap {
  position: relative;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  width: 0.5em;
  height: 0.5em;
}
.body {
  position: absolute;
  top: -3.75em;
  left: -1.75em;
}
.avatar[data-pos="5"] .body,
.avatar[data-pos="6"] .body,
.avatar[data-pos="7"] .body {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.avatar:after {
  content: '';
  display: block;
  width: 3em;
  height: 0.4em;
  border-radius: 50%;
  background: rgba(0,0,0,0.05);
  position: absolute;
  top: 1.325em;
  left: -1em;
  margin-left: -0.3em;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-transform-origin: center;
  transform-origin: center;
  z-index: -1;
}
.avatar.moving:after,
.avatar.moving .avatar-wrap {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: walking-person-shadow;
  animation-name: walking-person-shadow;
}
.avatar.moving .avatar-wrap {
  -webkit-animation-name: walking-person;
  animation-name: walking-person;
}
@-webkit-keyframes walking-person {
  0% {
    top: 0;
  }
  100% {
    top: -0.2em;
  }
}
@keyframes walking-person {
  0% {
    top: 0;
  }
  100% {
    top: -0.2em;
  }
}
@-webkit-keyframes walking-person-shadow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes walking-person-shadow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.eye {
  width: 0.3em;
  height: 0.5em;
  border-radius: 50%;
  position: absolute;
  z-index: 6;
  top: 2.6em;
  background: transparent;
  box-shadow: 0 -0.2em 0em rgba(0,0,0,0.1), inset 0.1em 0.2em 0 #555;
}
.left.eye {
  right: 1.2em;
}
[data-pos="1"] .left.eye,
[data-pos="7"] .left.eye {
  right: 0.5em;
  top: 2.3em;
}
[data-pos="2"] .left.eye,
[data-pos="6"] .left.eye {
  right: 0.8em;
  top: 2.3em;
  z-index: 2;
}
[data-pos="3"] .left.eye,
[data-pos="5"] .left.eye {
  right: 1.2em;
  top: 2.3em;
}
[data-pos="3"] .left.eye,
[data-pos="5"] .left.eye,
[data-pos="4"] .left.eye {
  right: 2em;
}
.right.eye {
  left: 1.2em;
}
[data-pos="1"] .right.eye,
[data-pos="7"] .right.eye {
  left: 2em;
}
[data-pos="2"] .right.eye,
[data-pos="6"] .right.eye {
  left: 2.8em;
}
[data-pos="3"] .right.eye,
[data-pos="5"] .right.eye {
  left: 2.8em;
}
[data-pos="3"] .right.eye,
[data-pos="5"] .right.eye,
[data-pos="4"] .right.eye {
  z-index: 2;
}
[data-gender="male"] .hair:before {
  content: '';
  display: block;
  position: absolute;
  width: 1em;
  height: 0.9em;
  top: 1.2em;
  left: 1em;
  z-index: 5;
  border-radius: 50%;
  background: transparent;
  color: currentColor;
}
[data-pos="0"][data-gender="male"] .hair:before,
[data-pos="1"][data-gender="male"] .hair:before,
[data-pos="7"][data-gender="male"] .hair:before,
[data-pos="2"][data-gender="male"] .hair:before,
[data-pos="6"][data-gender="male"] .hair:before {
  box-shadow: 0.5em 0.1em 0 currentColor;
}
[data-pos="1"][data-gender="male"] .hair:before,
[data-pos="7"][data-gender="male"] .hair:before {
  left: 1.4em;
  top: 1.1em;
}
[data-pos="2"][data-gender="male"] .hair:before,
[data-pos="6"][data-gender="male"] .hair:before {
  left: 2.8em;
  top: 1.3em;
  width: 0.8em;
  box-shadow: 0.3em 0.1em 0 currentColor;
}
[data-pos="3"][data-gender="male"] .hair,
[data-pos="4"][data-gender="male"] .hair,
[data-pos="5"][data-gender="male"] .hair {
  display: none;
}
[data-gender="female"] .hair {
  color: #300;
}
[data-gender="female"] .hair:before,
[data-gender="female"] .hair:after {
  content: '';
  display: block;
  position: absolute;
  top: 2.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: transparent;
  z-index: 3;
}
[data-gender="female"] .hair:before {
  left: -0.8em;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  box-shadow: 0.5em 0.1em 0 currentColor;
}
[data-gender="female"] .hair:after {
  right: -0.8em;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  box-shadow: -0.5em 0.1em 0 currentColor;
}
[data-pos="1"][data-gender="female"] .hair:before,
[data-pos="7"][data-gender="female"] .hair:before {
  left: -0.4em;
  top: 2.3em;
  z-index: 5;
}
[data-pos="1"][data-gender="female"] .hair:after,
[data-pos="7"][data-gender="female"] .hair:after {
  right: -0.6em;
  top: 2.1em;
}
[data-pos="2"][data-gender="female"] .hair,
[data-pos="6"][data-gender="female"] .hair {
  width: 1.4em;
  height: 1em;
  border-radius: 40% 0 40% 40%;
  position: absolute;
  top: 2.2em;
  left: 0.2em;
  background: currentColor;
  z-index: 7;
}
[data-pos="2"][data-gender="female"] .hair:before,
[data-pos="6"][data-gender="female"] .hair:before {
  left: 0.2em;
  z-index: 10;
  top: -0.2em;
  height: 1.3em;
}
[data-pos="2"][data-gender="female"] .hair:after,
[data-pos="6"][data-gender="female"] .hair:after {
  display: none;
}
[data-pos="3"][data-gender="female"] .hair,
[data-pos="5"][data-gender="female"] .hair {
  width: 2.3em;
  height: 1em;
  border-radius: 50%;
  background-color: currentcolor;
  position: absolute;
  top: 2.7em;
  left: 0.5em;
  z-index: 7;
}
[data-pos="3"][data-gender="female"] .hair:before,
[data-pos="5"][data-gender="female"] .hair:before {
  top: -0.4em;
  left: 1.2em;
  height: 1.45em;
}
[data-pos="3"][data-gender="female"] .hair:after,
[data-pos="5"][data-gender="female"] .hair:after {
  display: none;
}
[data-pos="4"][data-gender="female"] .hair {
  width: 3.4em;
  height: 1.6em;
  background-color: currentColor;
  position: absolute;
  top: 2.4em;
  left: 50%;
  margin-left: -1.7em;
  z-index: 7;
  border-radius: 50%;
}
[data-pos="4"][data-gender="female"] .hair:before,
[data-pos="4"][data-gender="female"] .hair:after {
  top: 0;
  z-index: 7;
}
[data-pos="4"][data-gender="female"] .hair:before {
  margin-left: -0.2em;
}
[data-pos="4"][data-gender="female"] .hair:after {
  margin-right: -0.3em;
}
.headSizing,
.head,
.hat {
  width: 4em;
  height: 4em;
  border-radius: 50% 50% 40% 40%;
  overflow: hidden;
}
[data-gender="female"] .headSizing,
[data-gender="female"] .head,
[data-gender="female"] .hat {
  border-radius: 50%;
}
[data-pos="2"] .headSizing,
[data-pos="2"] .head,
[data-pos="2"] .hat,
[data-pos="6"] .headSizing,
[data-pos="6"] .head,
[data-pos="6"] .hat {
  border-radius: 50% 50% 40% 50%;
}
[data-pos="4"] .headSizing,
[data-pos="4"] .head,
[data-pos="4"] .hat {
  border-radius: 50%;
}
.head {
  background: #eb9;
  position: relative;
  height: 3.9em;
  top: 0.1em;
  z-index: 4;
}
.hat {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  color: #4b0082;
}
.hat:after {
  content: '';
  display: block;
  border-radius: 40%;
  position: absolute;
  top: 0;
  left: 0;
  width: 4em;
  height: 4em;
  box-shadow: inset 0.4em 0 rgba(0,0,0,0.2);
}
.hat:before {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  color: inherit;
  box-shadow: 0.1em 0.2em 0 rgba(0,0,0,0.2);
}
[data-pos="0"] .hat:before,
[data-pos="1"] .hat:before,
[data-pos="2"] .hat:before,
[data-pos="6"] .hat:before,
[data-pos="7"] .hat:before {
  margin-left: -2.2em;
  width: 4.4em;
  height: 4.5em;
  box-shadow: inset 0 1.8em 0 currentColor, inset 0 2em 0 rgba(0,0,0,0.2);
}
[data-pos="1"] .hat:before,
[data-pos="2"] .hat:before,
[data-pos="6"] .hat:before,
[data-pos="7"] .hat:before {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
[data-pos="2"] .hat:before,
[data-pos="6"] .hat:before {
  width: 7em;
  margin-left: -3.5em;
  box-shadow: inset 0 2.2em 0 currentColor, inset 0 2.4em 0 rgba(0,0,0,0.2);
}
[data-pos="3"] .hat:before,
[data-pos="4"] .hat:before,
[data-pos="5"] .hat:before {
  width: 5.6em;
  height: 5em;
  background: currentColor;
  left: -1.5em;
  top: -1.6em;
}
[data-pos="4"] .hat:before {
  left: -0.8em;
}
.leg {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #999;
  box-shadow: inset 0.4em 0 rgba(0,0,0,0.2);
  position: absolute;
  top: 4.3em;
  z-index: 1;
}
[data-gender="female"] .leg {
  background-color: #fa8072;
}
.right.leg {
  left: 1.1em;
}
[data-pos="1"] .right.leg,
[data-pos="7"] .right.leg {
  left: 1.4em;
  z-index: 2;
}
[data-pos="2"] .right.leg,
[data-pos="6"] .right.leg {
  left: 1.5em;
  z-index: 2;
}
[data-pos="3"] .right.leg,
[data-pos="5"] .right.leg {
  left: 1.7em;
  z-index: 2;
}
[data-pos="4"] .right.leg {
  left: 1.9em;
  z-index: 2;
}
.left.leg {
  right: 1.1em;
}
[data-pos="1"] .left.leg,
[data-pos="7"] .left.leg {
  right: 1.2em;
}
[data-pos="2"] .left.leg,
[data-pos="6"] .left.leg {
  right: 1.4em;
}
[data-pos="3"] .left.leg,
[data-pos="5"] .left.leg {
  right: 1.6em;
}
[data-pos="4"] .left.leg {
  right: 1.9em;
}
.mouth {
  width: 1em;
  margin-left: -0.5em;
  height: 0.4em;
  border-radius: 50%;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.5);
  z-index: 8;
  position: absolute;
  top: 3.3em;
  left: 50%;
}
[data-pos="1"] .mouth,
[data-pos="7"] .mouth {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  margin-left: 0.3em;
  top: 3.1em;
}
[data-pos="2"] .mouth,
[data-pos="6"] .mouth {
  width: 0.6em;
  margin-left: 0.9em;
  height: 0.3em;
}
[data-pos="3"] .mouth {
  width: 0.6em;
  margin-left: 0.9em;
  height: 0.3em;
}
[data-pos="3"] .mouth,
[data-pos="4"] .mouth,
[data-pos="5"] .mouth {
  z-index: 2;
}
.torso {
  width: 2em;
  height: 2.8em;
  border-radius: 50% 50% 26% 26%;
  box-shadow: inset 0.4em 0 rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.35);
  background: #008080;
  display: inline-block;
  position: absolute;
  top: 2.2em;
  z-index: 3;
  left: 50%;
  margin-left: -1em;
}
.app-controls {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 10;
}
.app-control {
  border-radius: 100px;
  background: rgba(255,255,255,0.875);
  display: inline-block;
  margin: 0;
  color: #999;
  width: 2.75em;
  height: 2.75em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
.app-control.sub-twitter {
  color: #56aeec;
}
.app-sidebar {
  position: relative;
  width: 5em;
  z-index: 1;
}
.app-sidebar .scroll {
  padding-right: 10em;
  margin-right: -10em;
  width: auto;
  overflow: hidden;
}
.app-sidebar .scroll-pane {
  right: -15em;
  padding-right: 25em;
}
.app-map {
  position: relative;
  overflow: hidden;
}
.intro {
  max-width: 28em;
  margin: 0 auto;
}
.intro-logo img {
  width: 100%;
  max-width: 4em;
}
.intro-script img {
  max-width: 15em;
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}
body {
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: 0;
  padding: 0;
}
.obstruction {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


/*# sourceMappingURL=app.css.map*/