- present blog do |blog_presenter|
  %article
    %header
      %h1= blog_presenter.title_link
      %h3= blog_presenter.author_link
      - unless blog.is_published?
        %h5 Unpublished
    %section
      = blog_presenter.content
