.site_nav
  %nav.site_nav-list{ role: "navigation" }
    %a.site_nav-list-logo{ href: "/" } Cremalab
    %a{ href: "/approach"      } Approach
    %a{ href: "/work"          } Work
    %a{ href: "/team"          } Team
    %a{ href: "/careers"       } Careers
    %a{ href: "/blog"          } Blog
    %a{ href: "/contact"       } Contact

  %nav.site_nav-list.sub-social
    %a{ href: t('social_links.facebook') } Facebook
    %a{ href: t('social_links.twitter')  } Twitter
    %a{ href: t('social_links.instagram')} Instagram