%nav.siteNav{ role: "navigation" }
  %a{ href: "/"              } Cremalab
  %a{ href: "/process"       } Process
  %a{ href: "/work"          } Work
  %a{ href: "/lab"           } Lab
  %a{ href: "/team"          } Team
  %a{ href: "/blog"          } Blog
  %a{ href: "/opportunities" } Opportunities
  %a{ href: "/contact"       } Contact

%nav.siteSocial
  %a{ href: "https://www.facebook.com/CremaLab" } Facebook
  %a{ href: "https://twitter.com/cremalab"      } Twitter
  %a{ href: "http://instagram.com/cremalab"     } Instagram