!!!
%html
  %head
    %title Cremalab.com
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
%body
  .applicationFrame
    %main
      = yield
    %aside.sideBar
      %button.sideBarToggle
      %nav.siteNav
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item
        %a{ href: "#" } Nav Item